img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $dark;
  display: inline-block;
}

hr {
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.font {
  &-xs {
    font-size: 12px;
  }
  &-sm {
    font-size: 14px;
  }
}

.material-icons {
  vertical-align: bottom;
}
